In [71]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [72]:
%sql

Running query in 'postgresql://captcbus:***@localhost:5455/justice'

In [64]:
supers = %sql select * from supers

Running query in 'postgresql://captcbus:***@localhost:5455/justice'

23 rows affected.

In [65]:
supers

+----+------------------+---------+--------------------------+-------------+
| id |       name       |  align  |         tagline          |   based_in  |
+----+------------------+---------+--------------------------+-------------+
| 1  |  The Trilobite   |   None  |      Caped Cambrian      |   Silvania  |
| 2  |    Putin Bae     | villain |   Rasslin’ Russophile    |  Mansfield  |
| 3  | Cardinal Virtue  |   hero  | Redbird of Righteousness |  Cincinnati |
| 4  |  Orville Wrong   | villain |     Fiend of Flight      |    Dayton   |
| 5  |   Wilbur Wrong   | villain |     Fiend of Flight      |    Dayton   |
| 6  |   Henry Fnord    | villain | Mass-Producer of Mayhem  |   Dearborn  |
| 7  |  Nell Strongarm  | villain |        Astro-Thug        |  Wapokoneta |
| 8  |   The Thinker    |   hero  |           None           |  Cleveland  |
| 9  |   Blue Jacket    |   hero  |           None           | Chillicothe |
| 10 | Captain Columbus |   hero  |    Protector of Ohio     |   Columbus  |
+----+------------------+---------+--------------------------+-------------+
Truncated to displaylimit of 10.

In [66]:
from textwrap import dedent
import pyperclip

In [67]:
queries = [
    "load 'age';",
    'SET search_path = ag_catalog, "$user", public;',
"select drop_graph('knowledge', true);",
"select create_graph('knowledge');",
]
for row in supers:
    align = f'"{row.align}"' if row.align else 'NULL'
    qry = dedent(f"""
    SELECT * FROM  
    cypher('knowledge', $$
      CREATE (s:Super {{ name: "{row.name}", align: {align}, 
              tagline: "{row.tagline}", based_in: "{row.based_in}" }} )
     $$) AS (result1 agtype);
    """)
    queries.append(qry)

In [68]:
ixns = %sql select s1.name AS super_1, s2.name AS super_2, i.nature from interactions i join supers s1 on (i.super_1_id = s1.id) join supers s2 on (i.super_2_id = s2.id);

Running query in 'postgresql://captcbus:***@localhost:5455/justice'

34 rows affected.

In [69]:
for ixn in ixns:
    ixn_type = {'clash': 'FOUGHT', 'ally': 'ALLIED_WITH'}[ixn.nature]
    qry = dedent(f"""
    SELECT * FROM  
    cypher('knowledge', $$
      MATCH (s1:Super {{ name: "{ixn.super_1}" }})
      MATCH (s2:Super {{ name: "{ixn.super_2}" }})
      CREATE (s1)-[:{ixn_type}]->(s2)
     $$) AS (result1 agtype);
    """)
    queries.append(qry)

In [70]:
from pathlib import Path
Path('age-setup.sql').write_text('\n\n'.join(queries))

10922